<style>
  * {
    margin-left:15px;
    line-height:40px;
  }
  title {
    font-size:10px;
  }
 
 
</style>

<h1 class ="title">ようこそ Bookers へ!</h1>

<p><div style="font-weight:bold;display: inline;">Bookers</div>では、さまざまな書籍に関するあなたの意見や</br>

印象を共有し交換することができます</p>

<%= link_to "Start",new_book_path %>